name: Rust

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: 1.91.0
        override: true
        components: rustfmt, clippy

    - name: Rust Cache
      uses: Swatinem/rust-cache@v2

    - name: Cargo Fmt
      run: cargo fmt --all -- --check

    - name: Cargo Clippy
      run: cargo clippy --all-features --all-targets -- -D warnings
      
    - name: Cargo Test
      run: cargo test --all-features --all-targets
